.horizontal-divider {
  font: 1.1em sans-serif;
  margin: 5px 0px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
  padding: 20px 0px;
  
  &:before {
      border-top: 2px solid #dfdfdf;
      content:"";
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
  }

  span { 
      background: #fff; 
      padding: 0 15px; 
  }
}